*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root {
  --color1: #F25260;
  --color2: #5662A6;
  --color3: #027353;
  --color4: #F2B950;
  --color5: #F2F2F2;
}

body{
  background-color: var(--color5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.world {
  background-image: linear-gradient(180deg, #027353, #07231b, #027353);
  height: 1000px;
  width: 1000px;
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: -700px;
  animation: turn 10s linear infinite;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
  
}

.car-body {
  width: 200px;
  height: 200px;
  fill: var(--color2);
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translateX(-50%);
}

.wheel {
  height: 60px;
  width: 60px;
  background-image: linear-gradient(180deg, #000, #616161, #000);
  border-radius: 50%;
  border: 6px solid var(--color5);
  position: absolute;
  top: 47%;
  left: 51.5%;
  animation: roll 1s linear infinite;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
  
}

.back-wheel {
  left: 44%;
}

.glass {
  height: 80px;
  width: 120px;
  background-color: aquamarine;
  position: absolute;
  z-index: -1;
  top: 35%;
  left: 50%;
  transform: translateX(-65%);
  border-radius: 40% 40% 0 0;
}

.cloud {
  width: 200px;
  height: 200px;
  fill: var(--color4);
  position: absolute;
  top: 80px;
  right: -150px;
  z-index: -2;
  animation: movimentation 5s linear infinite;
}

@keyframes movimentation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-2000px);
  }
}

.tree-one {
  width: 200px;
  height: 200px;
  fill: var(--color3);
  position: absolute;
  top: -40px;
  transform: rotate(-45deg);
}

.city {
  width: 300px;
  height: 300px;
  fill: var(--color1);
  position: absolute;
  bottom: -140px;
  transform: rotate(215deg);
}